<div style="margin: inherit">
  <%= form_with model: article do |form| %>
  <form>
    <div class="mb-3">
      <label for="Title" class="form-label"><%= form.label :title %></label>
      <div> <%= form.text_field :title %></div>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label"><%= form.label :body %></label>
      <div><%= form.text_field :body %></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<% end %>
</div>
